{{ 'customer_reveiws.css' | asset_url | stylesheet_tag }}
{{ 'glide.core.min.css' | asset_url | stylesheet_tag }}


<div class="page-width customers-container">
  <div class="customers__reviews">
    <div class="banner-title">
      <h3>{{ section.settings.title }}</h3>
      <p class="subtitle">{{ section.settings.subtitle }}</p>
    </div>
    <div class="glide" id="customer-glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for block in section.blocks %}
              <li class="glide__slide">
                  <p>
                    {{ block.settings.text }}
                  </p>
                  <div>
                      <span>
                        {{ block.settings.name }}
                      </span>
                  </div>
                  <div>
                      <span>
                        {{ block.settings.position }}
                      </span>
                  </div>
              </li>
            {% endfor %}
        </ul>
      </div> 
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
        <button class="glide__bullet" data-glide-dir="=3"></button>
        <button class="glide__bullet" data-glide-dir="=4"></button>
      </div>
    </div>
  </div>
  <div class="customers__banner">
      {%- if section.settings.image != blank -%}
        <img
          srcset="{%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.image.width >= 990 -%}{{ section.settings.image | img_url: '990x' }} 990w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 2200 -%}{{ section.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
            {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | img_url: '500x' }}"
          sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
        >
    {%- endif -%}
  </div>
</div>


<script defer>
  var glide = new Glide('#customer-glide', {
    type:"carousel",
    perView: 1
  });
  glide.mount()

</script>
{% schema %}
{
  "name": "Customer Reviews",
  "tag": "section",
  "class": "reviews",
  "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks":[
    {
        "type":"review",
        "name":"Review",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Review Content</p>",
            "label": "Review Content"
          },
          {
            "type": "text",
            "id": "name",
            "default": "John",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "position",
            "default": "Customer",
            "label": "Position"
          }
        ]
    }
  ],
  "presets": [
    {
      "name":"Customer Reviews"
    }
  ]
}
{% endschema %}
