<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div>
  <div class="section-hero">
    <div class="bg-banner"> </div>
    <div class="section-hero__inner page-width">
      <div class="section-hero__text-wrapper">
        <h1 class="section-hero__title">
          <span class="visually-hidden">{{ page.title | escape }}</span>
          {{ page.title | escape }}</h1>
        </div>
      </div>
  </div>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section mt-11"
}
{% endschema %}
