<link rel="stylesheet" href="{{ 'section-main-about.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-about.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div>
  <div class="section-hero">
    <div class="bg-banner"> </div>
    <div class="section-hero__inner page-width">
      <div class="section-hero__text-wrapper">
        <h1 class="section-hero__title">
          <span class="visually-hidden">{{ blog.title | escape }}</span>
          {{ page.title | escape }}</h1>
          <div class="section-hero__description rte">Why you should start buy furnitures from Stockie?</div>
        </div>
      </div>
  </div>
  <div class="content page-width">
    <div class="content-title">
      <h2>
        We create unique <span>high-quality</span> clothing from the finest components and materials since 2016.
      </h2>
    </div>
    <div class="content-title-card">
      {%- if section.settings.image != blank -%}
        <img
          srcset="{%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.image.width >= 990 -%}{{ section.settings.image | img_url: '990x' }} 990w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 2200 -%}{{ section.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
            {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | img_url: '500x' }}"
          sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          class="entry-card__image"
        >
      {%- endif -%}
    </div>
    <div class="content-body">
      {{ page.content }}
    </div>
    <div class="content-body-card">
        {%- if section.settings.image-2 != blank -%}
          <img
            srcset="{%- if section.settings.image-2.width >= 550 -%}{{ section.settings.image-2 | img_url: '550x' }} 550w,{%- endif -%}
              {%- if section.settings.image-2.width >= 720 -%}{{ section.settings.image-2 | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image-2.width >= 990 -%}{{ section.settings.image-2 | img_url: '990x' }} 990w,{%- endif -%}
              {%- if section.settings.image-2.width >= 1100 -%}{{ section.settings.image-2 | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.image-2.width >= 1500 -%}{{ section.settings.image-2 | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.image-2.width >= 2200 -%}{{ section.settings.image-2 | img_url: '2200x' }} 2200w,{%- endif -%}
              {%- if section.settings.image-2.width >= 3000 -%}{{ section.settings.image-2 | img_url: '3000x' }} 3000w,{%- endif -%}
              {{ section.settings.image-2 | img_url: 'master' }} {{ section.settings.image-2.width }}w"
            src="{{ section.settings.image-2 | img_url: '300x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
            alt="{{ section.settings.image-2.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image-2.width }}"
            height="{{ section.settings.image-2.height }}"
            class="entry-card__image"
          >
        {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "spaced-section mt-11",
  "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image-2",
      "label": "Second Image"
    }
  ],
  "presets": [
    {
      "name":"About"
    }
  ]
}
{% endschema %}
