<style>
.testimonials{
  padding-top: 6rem;
  padding-bottom: 6rem !important;
}
.main-testimonials-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5rem;
  justify-content: space-between;
}
.main-testimonials-image{
  cursor: pointer;
  width: 220px;
  padding: 2rem 5rem;
}
.main-testimonials-image:hover img{
  animation: hover 0.6s forwards;
}
@keyframes hover {
  0%{
      transform: translateY(0);
  }
  30%{
      transform: translateY(-50px);
      opacity: 0;
  }
  40%{
      transform: translateY(50px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
  }
}
.main-testimonials-image img{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 750px) {
  .main-testimonials-container{
    margin: 0 -3rem;
  }
  .main-testimonials-image{
    width: 180px;
    padding: 2rem 3rem;
}
}

</style>
<div class="main-testimonials page-width">
    <div class="main-testimonials-container">
        {% for block in section.blocks %}
          {%- assign image_size = '200x' -%}
            <div class="main-testimonials-image">
                <img srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
              src="{{ block.settings.image | img_url: '200x' }}"
              loading="lazy"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
              alt="{{ block.settings.image.alt | escape }}"
              >
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Testimonials",
    "class": "testimonials bg-white",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
    {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Testimonial"
          }
          ]
        }
    ],
    "presets": [
        {
            "name":"Testimonials",
            "blocks":[
                {
                    "type": "testimonial"
                }
            ]
        }
    ]
}
{% endschema %}